.homepage__title2 {
    color: black;
    text-align: center;
    padding: 20px;
}

.homepage__title {
    font-size: 50px;
    color: red;
    text-align: center;
    padding: 10px;
}

.start {
    text-align: center;
    display: flex;
    justify-content: center;
}

.logo__poke {
    align-items: center;
}

.input {
    border: 2px solid red;
}

.btn {
    width: 10%;
}

.input {
    width: 40%;
}
